{
    "printWidth": 120,
    "trailingComma": "all",
    "tabWidth": 2,
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "overrides": [
      {
        "files": "*.js, *jsx, *.ts, *.tsx"
      }
    ]
  }
